h1{
    font-size: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(21, 94, 136);
    text-align: center;
   
}

p1{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(19, 8, 80);
    justify-content: left;
    line-height: 2.5;
    text-align: center;
}
p2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(13, 9, 39);
    justify-content: left;
    line-height: 2.5;
    text-align: left;
}
p3{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(19, 8, 80);
    justify-content: left;
    line-height: 2.5;
    text-align: center;
}
p4{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(19, 8, 80);
    justify-content: left;
    line-height: 2.5;
    text-align: center;
}
h4{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 62, 92);
    text-align: center;

}
h5{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 62, 92);
    text-align: center;
}
h6{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 62, 92);
    text-align: center;
}
h7{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 62, 92);
    text-align: center;
}
a {
font-size: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #658cb6;
text-decoration: underline;
line-height: 3.5;
text-align: center;
justify-content: right;
}

a:hover {

color: #0056b3;
text-decoration: underline;
}
div {
    text-align: center;
    text-decoration: underline;
    transition: transform 0.3s;
    border-radius: 20px;
    margin-left: 20px

}
img {
width: 300px;
height: auto;
}
body {
    background-image: url('../Imagnes/Fondo\ liso.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer {
    text-align: center;
    color: #0e080828;
    padding: 20px 0;
    font-size: 16px;
    margin-top: 40px;
}